<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"><%=  t(@form_object.caption_key, count: @form_object.record.position) %></caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half"><%= t('.headers.full_name') %></th>
        <% if maat_required?(@form_object) %>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t('.headers.maat') %></th>
        <% end %>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= check_missing(@form_object.record.full_name) %></td>
          <% if maat_required?(@form_object) %>
            <td class="govuk-table__cell"><%= check_missing(@form_object.record.maat) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden"><%= t('nsm.claims.confirm_delete.warning') %></span>
        <%= t('nsm.claims.confirm_delete.no_undo') %>
      </strong>
    </div>

    <%= step_form @form_object do |f| %>
      <%= f.submit_button('delete_it', warning: true) do %>
        <%= f.hidden_field :id %>
        <%= govuk_button_link_to t('nsm.claims.confirm_delete.no_delete'), edit_nsm_steps_defendant_summary_path(@form_object.application) %>
      <% end %>
    <% end %>
  </div>
</div>


