<% if local_assigns[:section] %>
  <% quote_summary = section[:object].quote_summary %>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">
      <%= t('.caption') %>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t('.headers.costs') %></th>
        <th scope="col" class="govuk-table__header"><%= t('.headers.total') %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('.service') %></td>
        <td class="govuk-table__cell"><%= NumberTo.pounds(quote_summary.service_cost_form.total_cost) %></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('.travel') %></td>
        <td class="govuk-table__cell"><%= NumberTo.pounds(quote_summary.travel_detail_form.total_cost) %></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= t('.additional') %></td>
        <td class="govuk-table__cell"><%= NumberTo.pounds(quote_summary.additional_cost_overview_form.total_cost) %></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong><%= t('.total_cost') %></strong>
        </td>
        <td class="govuk-table__cell">
          <strong><%= quote_summary.formatted_total_cost %></strong>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
