<% title t('.page_title') %>
<% step_header(path: applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
        <%= f.govuk_fieldset legend: { tag: 'h1', size: 'xl' } do %>
          <% @form_object.choices.each do |choice| %>
            <% if choice == ReasonForClaim::REPRESENTATION_ORDER_WITHDRAWN %>
              <%= f.govuk_check_box choice.value, true, multiple: false do %>
                <%#= f.govuk_date_field :rep_order_date, maxlength_enabled: true %>
              <% end %>
            <% elsif choice == ReasonForClaim::OTHER %>
              <%= f.govuk_check_box  choice.value, true, multiple: false do %>
                <%#= f.govuk_text_area :reason_for_claim_other %>
              <% end %>
            <% else %>
              <%= f.govuk_check_box choice.value, true, multiple: false  do %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>


