<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <% @report.section_groups.each do |section_group| %>
      <h2 class="govuk-heading-m"><%= section_group[:heading] %></h2>
      <% section_group[:sections].each do |section| %>   
        <%= govuk_summary_list(**section) %>
      <% end %>
    <% end %>
    <div class="govuk-button-group">
      <%= link_to edit_steps_equality_path(current_application), class: "govuk-button", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and continue
      <% end %>
      <%= link_to after_commit_path(current_application), class: "govuk-button govuk-button--secondary", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and come back later
      <% end %>
    </div>
  </div>
</div>
