<% assess_title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading', defendant_name:) %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: send_back, url: assess_claim_send_back_path(claim_id: claim.id), method: :put do |f| %>
      <%= govuk_error_summary(send_back) %>
      <%= f.govuk_radio_buttons_fieldset :state, legend: { size: 's' } do %>
        <%= f.govuk_radio_button :state, Assess::SendBackForm::FURTHER_INFO %>
        <%= f.govuk_radio_button :state, Assess::SendBackForm::PROVIDER_REQUESTED %>
      <% end %>
      <%= f.govuk_text_area :comment, width: 'one-third', autocomplete: 'off', label: { size: 'm' } %>

      <%= f.govuk_submit(t('.submit')) do %>
        <%= f.hidden_field :id %>
        <%= link_to 'Cancel', assess_claim_claim_details_path(claim), class: 'govuk-button__secondary' %>
      <% end %>

    <% end %>
  </div>
</div>
