<% assess_title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= govuk_back_link(href: assess_claim_adjustments_path(claim, anchor: 'disbursements-tab'),html_attributes: {'data-turbo': 'false'}) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div id='disbursement-provider-submission-summary-table'>
      <%=
      rows = item.disbursement_fields.map do |key, value|
        [
          { text: t(".summary_table.#{key}"), width: 'govuk-!-width-one-half' },
          value,
        ]
      end
      govuk_table(head: '', first_cell_is_header: true, rows:) do |tab|
        tab.with_caption(text: t('.summary_table.caption'), size: 'l')
      end
      %>
    </div>

    <div id='disbursement-adjustment-form'>
      <%= form_with model: form, url: assess_claim_disbursement_path(claim.id, item.id), method: :put do |f| %>
          <%= govuk_error_summary(form) %>
          <%= f.govuk_radio_buttons_fieldset(:total_cost_without_vat, legend: { size: 's' }) do %>
            <%= f.govuk_radio_button :total_cost_without_vat, 'yes' do %>
              <%= f.govuk_text_area :explanation, label: { size: 's' }, rows: 5 %>
            <% end %>
            <%= f.govuk_radio_button :total_cost_without_vat, 'no' %>
          <% end %>
          <%= f.govuk_submit t('assess.shared.save_changes') do %>
            <%= govuk_link_to(t('assess.shared.cancel'), assess_claim_adjustments_path(claim, anchor: 'disbursements-tab'), data: { turbo: 'false' }) %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
