<% assess_title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= govuk_back_link(href: assess_claim_adjustments_path(claim, anchor: 'disbursements-tab'),html_attributes: {'data-turbo': 'false'}) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading', count: item.adjustments.count) %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.provider_submission') %></h2>
    <div id='disbursement-provider-submission-summary-table'>
      <%=
      rows = item.disbursement_fields.map do |key, value|
        [
          { text: t(".summary_table.#{key}"), width: 'govuk-!-width-one-half' },
          value,
        ]
      end
      govuk_table(head: '', first_cell_is_header: true, rows:)
      %>
    </div>

    <% if item.adjustments.any? %>
      <h2 class="govuk-heading-l"><%= t('.laa_adjustments') %></h2>

      <%=
      rows = [
        [{ text: t('.refuse'), width: 'govuk-!-width-one-half' }, t(".refuse_status.#{item.total_cost_without_vat.zero?}")],
        [t('.explanation'), item.previous_explanation.to_s]
      ]
      govuk_table(head: '', first_cell_is_header: true, rows:)
      %>
    <% end %>

    <%= govuk_link_to(t('shared.cancel'), assess_claim_adjustments_path(claim, anchor: 'disbursements-tab'), data: { turbo: 'false' }) %>
  </div>
</div>
