<% title t('.page_title') %>
<% decision_step_header(record: @form_object.record) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <% if @form_object.other_disbursement_type? %>
        <%= f.govuk_number_field :total_cost_without_vat, min: 1, step: 0.01, width: 5, label: { tag: 'strong' }, data: { selector: 'valueField', multipler: @form_object.multiplier } %>
      <% else %>
        <%= f.govuk_number_field :miles, min: 1, step: 1, width: 3, suffix_text: 'Miles', label: { tag: 'strong' }, data: { selector: 'valueField', multipler: @form_object.multiplier } %>
      <% end %>
      <%= f.govuk_text_area :details , label: { tag: 'strong' } %>
      <%= f.govuk_radio_buttons_fieldset :prior_authority, legend: { size: 's' } do %>
        <%= f.govuk_radio_button :prior_authority, YesNoAnswer::YES.to_s %>
        <%= f.govuk_radio_button :prior_authority, YesNoAnswer::NO.to_s %>
      <% end%>
      <%= f.govuk_check_box :apply_vat, 'true', 'false', multiple: false, data: { selector: 'vatField', multipler: @form_object.vat_rate } %>

      <%= f.refresh_button %>

      <%= govuk_table(rows: @form_object.calculation_rows, caption: t('.calculation')) %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
