<%= javascript_import_module_tag 'offence_autocomplete' %>
<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <%= step_form @form_object do |f| %>
      <%= suggestion_select f, :main_offence, MainOffence.all, :name, :name, true, width: 20,
                              options: { include_blank: true }, label: { size: 's' } %>
      <%= f.govuk_date_field :main_offence_date, maxlength_enabled: true, legend: { size: 's' } %>

      <% @form_object.boolean_fields.each do |field| %>
        <%= f.govuk_radio_buttons_fieldset field, legend: { size: 's' } do %>
          <%= f.govuk_radio_button field, YesNoAnswer::YES.to_s do %>
           <% if field == :remitted_to_magistrate %>
              <%= f.govuk_date_field "#{field}_date", width: 'one-third', legend: { size: 's', class: 'govuk-date-legend-non-bold' } %>
            <% end %>
          <% end %>
          <%= f.govuk_radio_button field, YesNoAnswer::NO.to_s %>
        <% end%>
      <% end%>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
