<% hide_caption ||= false %>
<table id="cost-summary-table" class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m <%= "govuk-visually-hidden" if hide_caption %>">
    <%= t('.your_cost_summary') %>
  </caption>
  <thead class="govuk-table__head">
    <tr><th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t('.item') %></th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"><%= t('.net_cost') %> </th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"><%= t('.vat') %></th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"><%= t('.total') %></th>
  </tr></thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.profit_costs') %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.profit_costs_net %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.profit_costs_vat %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.profit_costs_gross %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.waiting') %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.waiting_net %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.waiting_vat %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.waiting_gross %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.travel') %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.travel_net %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.travel_vat %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.travel_gross %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.disbursements') %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.disbursements_net %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.disbursements_vat %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= NumberTo.pounds summary.disbursements_gross %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.total') %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong><%= NumberTo.pounds summary.total_net %></strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong><%= NumberTo.pounds summary.total_vat %></strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><strong><%= NumberTo.pounds summary.total_gross %></strong></td>
    </tr>
  </tbody>
</table>
