<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <span class="govuk-caption-xl"><%= t('.estimate') %></span>
    <h2 class="govuk-heading-xl"><%= @report.total_cost %></h2>

    <%= render 'nsm/steps/view_claim/cost_summary', section: @report.summary %>

    <% @report.sections.each do |section| %>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"><%= section[:card][:title] %></h2>
          <ul class="govuk-summary-card__actions">
            <% section[:card][:actions].each do |action| %>
              <li class="govuk-summary-card__action">
                <%= action %>
                <span class="govuk-visually-hidden"><%= section[:card][:title] %></span>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <%= govuk_table(**section[:table]) do |table|
            table.with_caption(**section[:caption])
          end %>
        </div>
      </div>
    <% end %>

    <div class="govuk-button-group">
      <%= link_to edit_nsm_steps_other_info_path(current_application), class: "govuk-button", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and continue
      <% end %>
      <%= link_to nsm_after_commit_path(current_application), class: "govuk-button govuk-button--secondary", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and come back later
      <% end %>
    </div>
  </div>
</div>
