<%# locals: (error_id: nil) -%>
<% content_for(:primary_navigation) do %>
  <% render partial: 'layouts/nsm/primary_navigation' %>
<% end %>
<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), nsm_applications_path, class: 'govuk-back-link' %>
<% end %>

<% title t('.title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% unless @form_object && @form_object.errors.any? %>
      <%= render partial: 'shared/alert', locals: { msg: t('.alert_info') } %>
    <% end %>
    <%= govuk_error_summary(@form_object) %>
    <% unless error_id.nil? %>
      <%= render partial: 'shared/alert', locals: { msg: t('.alert_html', link: nsm_import_errors_path(error_id: error_id))} %>
    <% end %>
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p><%= t('.explanation') %></p>
    <%= form_with(model: @form_object, url: nsm_imports_path) do |f| %>
      <%= f.govuk_file_field :file_upload,
                             label: { text: t(".file_upload"), size: "m", hidden: true  },
                             accept: 'text/xml' %>

      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
