<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-6"><%= t '.subheading_html' %></h2>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_number_field :letters, min: 1, step: 1, width: 3, data:{rate_letters: @form_object.pricing.letters} %>
      <% if @form_object.allow_uplift? %>
        <%= f.govuk_check_boxes_fieldset :apply_letters_uplift, multiple: false, legend: nil, data: { cy: 'apply-letters-uplift' } do %>
          <%= f.govuk_check_box :apply_letters_uplift, 'true', 'false', multiple: false do %>
            <%= f.govuk_number_field :letters_uplift, min: 1, step: 1, max: 100, width: 3, suffix_text: '%' %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.govuk_number_field :calls, min: 1, step: 1, width: 3, data:{rate_phone_calls: @form_object.pricing.calls} %>
      <% if @form_object.allow_uplift? %>
        <%= f.govuk_check_boxes_fieldset :apply_calls_uplift, multiple: false, legend: nil, data: { cy: 'apply-calls-uplift' } do %>
          <%= f.govuk_check_box :apply_calls_uplift, 'true', 'false', multiple: false do %>
            <%= f.govuk_number_field :calls_uplift, min: 1, step: 1, max: 100, width: 3, suffix_text: '%' %>
          <% end %>
        <% end %>
      <% end %>

      <section id='letters-calls-total-section'>
        <span class="govuk-caption-l"><%= t('.total_cost') %></span>
        <h1 class="govuk-heading-l" id='letters-calls-total'><%= number_to_currency(@form_object.total_cost, unit: '£') %></h1>

        <%= govuk_details(summary_text: t('.summary')) do %>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><%= t('.headers.items') %></th>
                <th scope="col" class="govuk-table__header"><%= t('.headers.quantity') %></th>
                <th scope="col" class="govuk-table__header"><%= t('.headers.total') %></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= t('.items.letters') %></th>
                <td class="govuk-table__cell" id="letters-calls-table-letter-quantity"><%= @form_object.letters.to_i %></td>
                <td class="govuk-table__cell" id="letters-calls-table-letter-total"><%= number_to_currency(@form_object.letters_total, unit: '£') %></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= t('.items.calls') %></th>
                <td class="govuk-table__cell" id="letters-calls-table-call-quantity"><%= @form_object.calls.to_i %></td>
                <td class="govuk-table__cell" id="letters-calls-table-call-total"><%= number_to_currency(@form_object.calls_total, unit: '£') %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </section>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
