<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <h2 class="govuk-hint govuk-!-margin-bottom-6"><%= t '.subheading' %></h2>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :answer_equality, legend: { text: t('.answer_equality'), size: 'm' }, hint: { text: t('.answer_equality_html'), size: 'm' } do %>
        <%= f.govuk_radio_button :answer_equality, YesNoAnswer::YES.to_s %>
        <%= f.govuk_radio_button :answer_equality, YesNoAnswer::NO.to_s %>
      <% end%>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>


