<div id="service-cost-card" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.service_costs') %></h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <%= govuk_link_to(t('.change'), edit_prior_authority_steps_primary_quote_path(current_application)) %>
        <span class="govuk-visually-hidden"> (<%= t('.service_costs') %>)</span>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.service_required') %></dt>
        <dd class="govuk-summary-list__value"><%= costs.service_name %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.service_details') %></dt>
        <dd class="govuk-summary-list__value">
          <%= quote.contact_full_name %>
          <br>
          <%= [quote.organisation, quote.town, quote.postcode].join(', ') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.service_quote_upload') %></dt>
        <dd class="govuk-summary-list__value">
          <%= quote.document&.file_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.prior_authority_granted') %></dt>
        <dd class="govuk-summary-list__value">
          <%= t("prior_authority.generic.#{costs.prior_authority_granted ? 'yes' : 'no'}_choice") %>
        </dd>
      </div>
    </dl>
    <%= render 'service_cost_subtable', costs: %>
  </div>
</div>
