<% show_adjustments ||= false %>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">
    <%= t('.travel_costs') %>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= t('.period') %></th>
      <th scope="col" class="govuk-table__header"><%= t('.cost_per_hour') %></th>
      <% if show_adjustments %>
        <th scope="col" class="govuk-table__header"><%= t('.requested') %></th>
        <th scope="col" class="govuk-table__header"><%= t('.laa_allowed') %></th>
      <% else %>
        <th scope="col" class="govuk-table__header"><%= t('.total') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= format_period(form.travel_time) %></td>
      <td class="govuk-table__cell"><%= t('.per_hour', cost: NumberTo.pounds(form.travel_cost_per_hour)) %></td>
      <% if show_adjustments %>
        <td class="govuk-table__cell"><%= form.formatted_total_cost %></th>
        <td class="govuk-table__cell"><%= allowed_value(form.formatted_total_cost, form.adjusted_cost, show_adjustments) %></th>
      <% else %>
        <td class="govuk-table__cell"><%= form.formatted_total_cost %></td>
      <% end %>
    </tr>
  </tbody>
</table>
