<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">
    <%= t('.travel_costs') %>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= t('.period') %></th>
      <th scope="col" class="govuk-table__header"><%= t('.cost_per_hour') %></th>
      <th scope="col" class="govuk-table__header"><%= t('.total') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= format_period(form.travel_time) %></td>
      <td class="govuk-table__cell"><%= NumberTo.pounds(form.travel_cost_per_hour) %></td>
      <td class="govuk-table__cell"><%= form.formatted_total_cost %></td>
    </tr>
  </tbody>
</table>
