<div id="travel-cost-summary" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.travel_costs') %></h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <%= govuk_link_to(t('.change'), edit_prior_authority_steps_travel_detail_path(current_application)) %>
        <span class="govuk-visually-hidden"> (<%= t('.travel_costs') %>)</span>
      </li>
      <% if form.valid? %>
        <li class="govuk-summary-card__action">
        <%= govuk_link_to(t('.delete'), edit_prior_authority_steps_delete_travel_path(current_application)) %>
        <span class="govuk-visually-hidden"> (<%= t('.travel_costs') %>)</span>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <% if form.valid? %>
      <% if form.travel_costs_require_justification? %>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= t('.why_travel_costs') %></dt>
            <dd class="govuk-summary-list__value"><%= simple_format(form.travel_cost_reason) %></dd>
          </div>
        </dl>
      <% end %>
      <%= render 'travel_cost_subtable', form: form %>
    <% else %>
      <p><%= t('.none_added') %>
    <% end %>
  </div>
</div>
