<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

     <span class="govuk-caption-l"><%= t('.quote_total_cost') %></span>
      <h2 class="govuk-heading-l">
        <%= @model.formatted_total_cost %>
      </h2>

      <%= render 'service_cost_card', costs: @model.service_cost_form, quote: @model.primary_quote_form %>

      <%= render 'travel_cost_card', form: @model.travel_detail_form %>

      <%= render 'additional_cost_card', form: @model.additional_cost_overview_form %>

      <div class="govuk-button-group">
        <%= govuk_button_link_to(t('prior_authority.generic.save_and_continue'),
                                 prior_authority_steps_start_page_path(@model.application)) %>
        <%= govuk_button_link_to(t('prior_authority.generic.save_and_come_back_later'),
                                 prior_authority_steps_start_page_path(@model.application), secondary: true) %>
      </div>
  </div>
</div>
