<% counter ||= nil %>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <%= t('.alternative_quote') %>
      <%= counter %>
    </h2>
    <% if links %>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <%= govuk_link_to(t('.change'), edit_prior_authority_steps_alternative_quote_detail_path(current_application, alternative_quote.id)) %>
          <span class="govuk-visually-hidden"> (<%= t('.alternative_quote') %>)</span>
        </li>
        <li class="govuk-summary-card__action">
          <%= govuk_link_to(t('.delete'), confirm_delete_prior_authority_steps_alternative_quote_detail_path(current_application, alternative_quote.id)) %>
          <span class="govuk-visually-hidden"> (<%= t('.alternative_quote') %>)</span>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.service_details') %></dt>
        <dd class="govuk-summary-list__value">
          <%= alternative_quote.contact_full_name %>
          <br>
          <%= [alternative_quote.organisation, alternative_quote.postcode].join(', ') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.quote_upload') %></dt>
        <dd class="govuk-summary-list__value">
          <% if alternative_quote.document&.file_name.present? %>
            <%= govuk_link_to alternative_quote.document.file_name, prior_authority_download_path(alternative_quote.document) %>
          <% else %>
            <%= t('.none') %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.additional_items') %></dt>
        <dd class="govuk-summary-list__value">
          <% if alternative_quote.additional_cost_list.present? %>
            <%= simple_format(alternative_quote.additional_cost_list) %>
          <% else %>
            <%= t('.none') %>
          <% end %>
        </dd>
      </div>
    </dl>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-visually-hidden">
        <%= t('.alternative_quote') %>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t('.costs') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.total') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= t('.service') %></td>
          <td class="govuk-table__cell">
            <%= NumberTo.pounds(alternative_quote.main_cost) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= t('.travel') %></td>
          <td class="govuk-table__cell">
            <%= NumberTo.pounds(alternative_quote.travel_cost) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= t('.additional') %></td>
          <td class="govuk-table__cell">
            <%= NumberTo.pounds(alternative_quote.additional_cost) %>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__header"><%= t('.total_cost') %></td>
          <td class="govuk-table__cell"><strong><%= NumberTo.pounds(alternative_quote.total_cost) %></strong></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
