<% title_string = t('.page_title',
                    number: @form_object.quotes_added,
                    quote: t('.quote').pluralize(@form_object.quotes_added)) %>
<% title title_string %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if params[:deleted] %>
      <%= govuk_notification_banner(title_text: t('prior_authority.steps.alternative_quotes.important'),
                                    text: t('prior_authority.steps.alternative_quotes.deleted'),
                                    success: true) %>
    <% end %>
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= title_string %></h1>
    <% @form_object.alternative_quotes.each do |alternative_quote| %>
      <%= render 'quote_summary', alternative_quote: alternative_quote, edit_links: true %>
    <% end %>

    <%= step_form @form_object do |form| %>
      <% if @form_object.more_quotes_addable? %>
        <%= form.govuk_collection_radio_buttons(
          :alternative_quotes_still_to_add,
          YesNoAnswer.radio_options,
          :value,
          :label,
          legend: { text: t('.question'), size: 's' }
        ) %>
      <% end %>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>
