<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if @scope == :work_items %>">
      <%= link_to t(".#{prefix}work_items"), send("#{@section}_work_items_nsm_steps_view_claim_path", claim, anchor: 'claim_nav') %>
    </li>
    <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if @scope == :letters_and_calls %>">
      <%= link_to t(".#{prefix}letters_and_calls"), send("#{@section}_letters_and_calls_nsm_steps_view_claim_path", claim, anchor: 'claim_nav') %>
    </li>
    <% if @section == :adjustments && claim.can_claim_youth_court? %>
      <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if @scope == :additional_fees %>">
        <%= link_to t(".#{prefix}additional_fees"), send("#{@section}_additional_fees_nsm_steps_view_claim_path", claim, anchor: 'claim_nav') %>
      </li>
    <% end %>
    <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if @scope == :disbursements %>">
      <%= link_to t(".#{prefix}disbursements"), send("#{@section}_disbursements_nsm_steps_view_claim_path", claim, anchor: 'claim_nav') %>
    </li>
  </ul>

  <div class="govuk-tabs__panel">
    <%= render partial: "nsm/steps/view_claim/#{@section == :adjustments ? "allowed_" : ""}#{@scope}",
               locals: { records: @records, claim: claim } %>
  </div>
</div>
