<% title t('.page_title') %>

<h3 class="govuk-heading-m">
  <%= t('.work_items') %>
</h3>

<% pagy, work_items = pagy_array(@work_items.filter{ _1.adjustment_comment.present? }, items: 100) %>

<% if work_items.none? %>
  <p><%= t('.no_data') %></p>
<% else %>
  <%= govuk_details(summary_text: t('.check_totals')) do %>
    <%=
      head = [
        { text: '', width: 'govuk-!-width-one-third' },
        { text: t('.time'), numeric: true },
        { text: t('.net_cost'), numeric: true },
        { text: t('.allowed_time'), numeric: true },
        { text: t('.allowed_net_cost'), numeric: true },
      ]

      total_cost = @work_items.sum(&:total_cost)
      allowed_total_cost = @work_items.sum(&:allowed_total_cost)

      rows = Nsm::AllowedWorkItems::SummaryTable.new(@work_items).rows

      foot = [
        { text: t(".total"), width: 'govuk-!-width-one-quarter' },
        { text: '', numeric: true },
        { text: safe_join([govuk_visually_hidden(t('.accessibility.net_cost')) , NumberTo.pounds(total_cost)], ' '), numeric: true },
        { text: '', numeric: true },
        { text: safe_join([govuk_visually_hidden(t('.accessibility.allowed_net_cost')) , NumberTo.pounds(allowed_total_cost)], ' '), numeric: true },
      ]

      govuk_table do |table|
        table.with_caption(text: t('.accessibility.work_summary_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} )
        table.with_head(rows: [head])
        table.with_body(rows: rows, first_cell_is_header: true)
        table.with_foot(rows: foot)
      end
    %>
  <% end %>

  <%=
    head = {
      'line_item' => { numeric: false },
      'item' => { numeric: false },
      'adjustment_comment' => { sortable: false, numeric: false },
      'allowed_time' => { numeric: [] },
      'allowed_uplift' => { numeric: [] },
      'allowed_net_cost' => { numeric: [] },
    }

    table = Nsm::AllowedWorkItems::Table.new(work_items)

    header_row = head.map.with_index do |(column_key, properties), index|
      unless properties[:sortable] == false
        aria_sort, next_direction = sort_variable(column_key, @sort_by, @sort_direction)
        {
          text: reorder_form(adjustments_work_items_nsm_steps_view_claim_path(current_application, anchor: "claim_nav"), column_key, next_direction, "nsm.steps.view_claim.allowed_work_items", index),
          numeric: properties[:numeric],
          html_attributes: { 'aria-sort': aria_sort}
        }
      else
        {
          text: t("nsm.steps.view_claim.allowed_work_items.#{column_key}"),
          numeric: properties[:numeric],
        }
      end
    end

    govuk_table_with_cell(header_row, table.rows, caption: { text: t('.accessibility.work_items_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} })
  %>
  <%= render "shared/pagination",  { pagy: pagy, item: t('.table_info_item') } %>

  <% if table.type_changed.any? %>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <section>
      <p id="fn*">
        <%= t('nsm.work_items.type_changes.asterisk') %>
        <%= t('nsm.work_items.type_changes.types_changed') %>
        <%= t('nsm.work_items.type_changes.see') %>
        <% table.type_changed.each_with_index do |work_item, index| %>
          <%= link_to(t('nsm.work_items.type_changes.item', position: work_item.position),
                      item_nsm_steps_view_claim_path(id: work_item.claim_id,
                                                    item_type: :work_item,
                                                    item_id: work_item.id)) %><% if index < table.type_changed.length - 1 %>,<% end %>
        <% end %>
      </p>
      <% table.type_changed.each_with_index do |work_item, index| %>
        <p id="fn<%= index + 1 %>">
          <%= link_to "[#{index + 1}]", "#changed-#{index + 1}" %>
          <%= t('nsm.work_items.type_changes.type_changed') %>
          <%= t('nsm.work_items.type_changes.see') %>
          <%= link_to(t('nsm.work_items.type_changes.item', position: work_item.position),
                      item_nsm_steps_view_claim_path(id: work_item.claim_id,
                                                    item_type: :work_item,
                                                    item_id: work_item.id)) %>
        </p>
      <% end %>
    </section>
  <% end %>
<% end %>
