<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.claim_status') %></h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.status') %></dt>
        <dd class="govuk-summary-list__value">
          <p>
            <strong class="govuk-tag <%= t("nsm.claims.index.status_colour.#{claim.status}") %>">
              <%= t("nsm.claims.index.status.#{claim.status}") %>
            </strong>
          </p>
          <%= claim.updated_at&.to_fs(:stamp) %><br>
          <% if claim.status == "submitted" %>
            <%= t(".awaiting_review") %><br>
          <% end %>
          <br>
          <%= "#{NumberTo.pounds(claim.submitted_total)} #{t(".claimed")}" %>
          <% if claim.status != "submitted" %>
            <br><%= "#{NumberTo.pounds(claim.adjusted_total)} #{t(".allowed")}" %>
          <% end %>
        </dd>
      </div>
      <% if claim.status != "submitted" %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= t(".laa_response") %></dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
      <% end %>
  </div>
</div>
