<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.claim_status') %></h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.status') %></dt>
        <dd class="govuk-summary-list__value">
          <p>
            <strong class=<%= "govuk-tag #{I18n.t("nsm.claims.index.status_colour.#{claim.status}")}" %>>
              <%= I18n.t("nsm.claims.index.status.#{claim.status}") %>
            </strong>
          </p>
          <p>
            <%= claim.updated_at&.to_fs(:stamp) %>
          </p>
        </dd>
      </div>
  </div>
</div>
