<% skip_links ||= false %>
<% show_all ||= false %>
<% uncollapsed_summary ||= false %>
<% title t('.page_title') %>

<h3 class="govuk-heading-m">
  <%= t('.work_items') %>
</h3>

<%
  head = [
    { text: govuk_visually_hidden(t('.accessibility.item')) },
    { text: t('.time'), numeric: true },
    { text: t('.net_cost'), numeric: true },
  ]
  total_cost = claim.totals[:work_types][:total][:claimed_total_exc_vat]

  rows = WorkItem::WORK_TYPE_SUMMARY_ORDER.map do |work_type|
    time = IntegerTimePeriod.new(claim.totals[:work_types][work_type.to_sym][:claimed_time_spent_in_minutes].to_i)
    net_cost = claim.totals[:work_types][work_type.to_sym][:claimed_total_exc_vat]
    [
      { text: t("laa_crime_forms_common.nsm.work_type.#{work_type}") },
      { text: format_period(time, style: :minimal_html), numeric: true },
      { text: NumberTo.pounds(net_cost), numeric: true },
    ]
  end

  foot = [
    { text: t(".total") },
    { text: '', numeric: true },
    { text: safe_join([govuk_visually_hidden(t('.accessibility.net_cost')), NumberTo.pounds(total_cost)], ' '), numeric: true },
  ]

  summary_table = govuk_table do |table|
    table.with_caption(text: t('.accessibility.work_summary_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} )
    table.with_head(rows: [head])
    table.with_body(rows: rows, first_cell_is_header: true)
    table.with_foot(rows: foot, first_cell_is_header: true)
  end
%>

<% if uncollapsed_summary %>
  <%= summary_table %>
<% else %>
  <%= govuk_details(summary_text: t('.check_totals')) do %>
    <%= summary_table %>
  <% end %>
<% end %>

<%
  if show_all
    work_items = records
  else
    pagy, work_items = pagy_array(records, items: 100)
  end

  head = {
    'line_item' => false,
    'item' => false,
    'date' => false,
    'fee_earner' => false,
    'time' => [],
    'uplift' => [],
    'net_cost' => []
  }
%>

<%=
  rows = work_items.each_with_index.map do |work_item, index|

    item_with_link = if skip_links
                       t("laa_crime_forms_common.nsm.work_type.#{work_item.work_type}")
                     else
                       link_to(t("laa_crime_forms_common.nsm.work_type.#{work_item.work_type}"),
                               item_nsm_steps_view_claim_path(id: current_application.id,
                                                              item_type: :work_item,
                                                              item_id: work_item.id,
                                                              page: pagy.page))
                     end

    [
      { header: true, text: index + 1, numeric: false},
      { header: true, text: item_with_link, numeric: false},
      { text: work_item.completed_on&.to_fs(:short_stamp), numeric: false},
      { text: work_item.fee_earner, numeric: false},
      { text: format_period(work_item.time_spent, style: :minimal_html), numeric: true },
      { text: NumberTo.percentage(work_item.uplift.to_f, multiplier: 1), numeric: true },
      { text: NumberTo.pounds(work_item.total_cost), numeric: true }
    ]
  end

  header_row = head.map.with_index do |(column_key, numeric), index|
    aria_sort, next_direction = sort_variable(column_key, @sort_by, @sort_direction)
    text = if skip_links
             t(".#{column_key}")
           else
             reorder_form(polymorphic_path([@section, @scope, :nsm, :steps_view, current_application], anchor: "claim_nav"), column_key, next_direction, "nsm.steps.view_claim.work_items", index)
           end

    {
      text: text,
      numeric: numeric,
      html_attributes: { 'aria-sort': aria_sort}
    }
  end

  govuk_table_with_cell(header_row, rows, caption: { text: t('.accessibility.work_items_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} })
%>
<% unless show_all %>
  <%= render "shared/pagination",  { pagy: pagy, item: t('.table_info_item') } %>
<% end %>
