<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <% @report.section_groups(:status).each do |section_group| %>
      <% section_group[:sections].each do |section| %>
        <%= govuk_summary_list(
          card: { title: section.title },
          rows: section.rows
        ) %>
      <% end %>
    <% end %>

    <nav class="moj-sub-navigation" aria-label="Sub navigation" id="claim_nav">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <%= link_to t('.tabs.overview'), nsm_steps_view_claim_path(@claim, section: 'overview'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :overview ? "page" : nil) %>
        </li>
        <li class="moj-sub-navigation__item">
          <%= link_to t('.tabs.claimed_costs'), nsm_steps_view_claim_path(@claim, section: 'claimed_costs'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :claimed_costs ? "page" : nil) %>
        </li>
        <% if @claim.part_grant? %>
          <li class="moj-sub-navigation__item">
            <%= link_to t('.tabs.adjustments'), nsm_steps_view_claim_path(@claim, section: 'adjustments'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :adjustments ? "page" : nil) %>
          </li>
        <% end %>
      </ul>
    </nav>

    <h2 class="govuk-heading-l"><%= t(".tabs.#{@section}") %></h2>
    <% @report.section_groups(@section).each do |section_group| %>
      <h3 class="govuk-heading-m"><%= section_group[:heading] %></h3>

      <% section_group[:sections].each do |section| %>
        <% if section.custom %>
          <% if section.has_card %>
            <%= govuk_summary_card(title: section.title) do %>
              <%= render section.custom[:partial], **section.custom[:locals] %>
            <% end %>
          <% else %>
            <%= render section.custom[:partial], **section.custom[:locals] %>
          <% end %>
        <% else %>
          <%= govuk_summary_list(
            card: { title: section.title },
            rows: section.rows
          ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
