<% title t('.page_title') %>
<% decision_step_header %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% report.section_groups(:status).each do |section_group| %>
      <% section_group[:sections].each do |section| %>
        <%= govuk_summary_list(
          card: { title: section.title },
          rows: section.rows
        ) %>
      <% end %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-aside__bar--blue aside-generic" role="complementary" aria-labelledby="aside-title">
      <h2 id="aside-title" class="govuk-heading-s govuk-!-margin-bottom-4">
        <%= t('.email_us') %>
      </h2>
      <p class="govuk-body-s">
        <%= link_to Rails.configuration.x.contact.support_email, "mailto:#{Rails.configuration.x.contact.support_email}" %>
      </p>
      <h2 class="govuk-heading-s" id="subsection-title"><%= t('.print_a_pdf') %></h2>
      <p class="govuk-body-s"><%= t('.print_hint') %></p>
      <%= govuk_button_link_to t('.print'), download_nsm_steps_view_claim_path(claim), secondary: true, target: '_blank' %>
      <% if subscribed %>
          <h2 class="govuk-heading-s" id="subsection-title"><%= t('.unsubscribe') %></h2>
          <p class="govuk-body-s"><%= t('.unsubscribe_hint') %></p>
          <%= button_to t('.unsubscribe_link'), unsubscribe_nsm_steps_view_claim_path(claim), method: :delete, class: "btn btn-secondary" %>
      <% else %>
          <h2 class="govuk-heading-s" id="subsection-title"><%= t('.subscribe') %></h2>
          <p class="govuk-body-s"><%= t('.subscribe_hint') %></p>
          <%= button_to t('.subscribe_link'), subscribe_nsm_steps_view_claim_path(claim), method: :post, class: "btn btn-primary" %>
      <% end %>
    </aside>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation" id="claim_nav">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <%= link_to t('.tabs.overview'), nsm_steps_view_claim_path(claim, anchor: 'claim_nav'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :overview ? "page" : nil) %>
        </li>
        <li class="moj-sub-navigation__item">
          <%= link_to t('.tabs.claimed_costs'), claimed_costs_work_items_nsm_steps_view_claim_path(claim, anchor: 'claim_nav'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :claimed_costs ? "page" : nil) %>
        </li>
        <% if claim.show_adjusted? %>
          <li class="moj-sub-navigation__item">
            <%= link_to t('.tabs.adjustments'), adjustments_work_items_nsm_steps_view_claim_path(claim, anchor: 'claim_nav'), class: 'moj-sub-navigation__link', 'aria-current': (@section == :adjustments ? "page" : nil) %>
          </li>
        <% end %>
      </ul>
    </nav>

    <h2 class="govuk-heading-l"><%= t(".tabs.#{@section}") %></h2>
    <% if claim.provider_updated? %>
      <div class="govuk-inset-text">
        <p><strong> <%= "#{t('.claim_updated.text')} #{claim.updated_at.to_fs(:short_stamp)} " %> </strong></p>
        <ul class="govuk-list">
          <li>
            <a href="#further_information" class="govuk-link--no-visited-state"><%= t('.claim_updated.link') %></a>
          </li>
        </ul>
      </div>
    <% end %>
    <% report.section_groups(@section).each do |section_group| %>
      <% if section_group[:sections].any? && section_group[:heading].present? %>
        <h2 class="govuk-heading-m" id="<%= section_group[:name] %>"><%= section_group[:heading] %></h2>
      <% end %>
      <% section_group[:sections].each do |section| %>
        <%= render 'section', section: %>
      <% end %>
    <% end %>
    <% type_changed = claim.work_items.changed_work_type.order(position: :asc).to_a %>
    <% if type_changed.any? && @section == :adjustments %>
      <section class="govuk-!-margin-bottom-6">
        <p id="fn*" class="govuk-body-s">
          <%= t('nsm.work_items.type_changes.asterisk') %>
          <%= t('nsm.work_items.type_changes.types_changed') %>
          <%= t('nsm.work_items.type_changes.see') %>
          <% type_changed.each_with_index do |work_item, index| %>
            <%= link_to(t('nsm.work_items.type_changes.item', position: work_item.position),
                        item_nsm_steps_view_claim_path(id: work_item.claim_id,
                                                       item_type: :work_item,
                                                       item_id: work_item.id)) %><% if index < type_changed.length - 1 %>,<% end %>
          <% end %>
        </p>
      </section>
    <% end %>
  </div>
</div>
