<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.additional_cost') %></h2>
    <% if links %>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <%= govuk_link_to(t('.change'), edit_prior_authority_steps_additional_cost_detail_path(current_application, additional_cost.id)) %>
          <span class="govuk-visually-hidden"> (<%= t('.additional_cost') %>)</span>
        </li>
        <li class="govuk-summary-card__action">
          <%= govuk_link_to(t('.delete'), confirm_delete_prior_authority_steps_additional_cost_detail_path(current_application, additional_cost.id)) %>
          <span class="govuk-visually-hidden"> (<%= t('.additional_cost') %>)</span>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.name') %></dt>
        <dd class="govuk-summary-list__value"><%= additional_cost.name %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t('.description') %></dt>
        <dd class="govuk-summary-list__value"><%= additional_cost.description %></dd>
      </div>
    </dl>
    <%= render 'prior_authority/steps/additional_costs/subtable', additional_cost: %>
  </div>
</div>
