<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading', count: @form_object.application.disbursements.count) %></h1>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :has_disbursements, legend: nil do %>
      <%= f.govuk_radio_button :has_disbursements, YesNoAnswer::YES.to_s %>
        <%= f.govuk_radio_button :has_disbursements, YesNoAnswer::NO.to_s %>
      <% end%>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>


