<% assess_title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= link_to t('assess.helpers.back_link'), assess_claim_adjustments_path(claim, anchor: 'work-items-tab'), class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row" id="work-items-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.heading') %></h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-hint govuk-!-margin-bottom-4"><%= t('.warning') %></div>

    <%= form_with model: form, url: assess_claim_work_items_uplift_path(claim.id), method: :put do |f| %>
      <%= govuk_error_summary(form) %>
      <%= f.govuk_text_area :explanation, label: { size: 'm' }, rows: 5 %>
      <%= f.govuk_submit t('.remove_uplift') do %>
        <%= link_to t('shared.cancel'), assess_claim_adjustments_path(claim, anchor: 'work-items-tab'), class: 'govuk-link', data: { turbo: 'false' } %>
      <% end %>
    <% end %>
  </div>
</div>
