<% title t('.page_title') %>
<% step_header(path: edit_nsm_steps_claim_type_path(@current_application)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

    <%= step_form @form_object do |f| %>
      <%=
        f.govuk_text_field :ufn, width: 'one-third', autocomplete: 'off',
        label: { text: t('.ufn') }, hint: { text: t('.ufn_hint') }
      %>
      <%=
        f.govuk_fully_validatable_date_field :rep_order_date,
        maxlength_enabled: true, legend: { text: t('.rep_order_date'), size: 's', class: 'govuk-!-font-weight-regular' },
        hint: { text: t('.rep_order_hint') }
      %>

      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
