<% title t('.page_title') %>
<% step_header(path: applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.hidden_field :id %>
      <%= f.govuk_radio_buttons_fieldset :work_type do %>
        <% @form_object.work_types_with_pricing.each do |work_type, price| %>
          <%= f.govuk_radio_button :work_type, work_type, hint: { text: t('.work_type_pricing', price: number_to_currency(price, unit: '£')) }, data: { rate_per_hour: price } %>
        <% end %>
      <% end %>

      <%= f.govuk_period_field :time_spent, width: 'one-third' %>
      <%= f.govuk_date_field :completed_on, maxlength_enabled: true, legend: { size: 's' } %>
      <%= f.govuk_text_field :fee_earner, width: 3 %>

      <% if @form_object.allow_uplift? %>
        <%= f.govuk_check_boxes_fieldset :apply_uplift, multiple: false, legend: nil do %>
          <%= f.govuk_check_box :apply_uplift, 'true', 'false', multiple: false do %>
            <%= f.govuk_number_field :uplift, min: 1, step: 1, max: 100, width: 3, suffix_text: '%' %>
          <% end %>
        <% end %>
      <% end %>

      <section id="claim-items-total-section">
        <span class="govuk-caption-l"><%= t('.total_cost') %></span>
        <h1 class="govuk-heading-l" id="claim-items-total"><%= number_to_currency(@form_object.total_cost, unit: '£') %></h1>
      </section>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>


