<% title t(".page_title") %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :plea, legend: { text: t('.legend'), size: 'l', tag: 'h1' } do %>
        <% @case_outcomes.each_with_index do |outcome, index| %>
          <span id="<%= outcome %>"></span>
          <%= f.govuk_radio_button :plea, outcome.to_s, link_errors: index.zero?,
                                   label: { text: t("laa_crime_forms_common.nsm.plea.#{outcome}")} do %>
            <% if outcome.requires_date_field? %>
              <%= f.govuk_fully_validatable_date_field :"#{outcome}_date",
                                                   maxlength_enabled: true,
                                                   hint: {
                                                     text: t(".#{outcome}_date_hint"),
                                                   },
                                                   legend: {
                                                     size: "s",
                                                     class: "govuk-date-legend-non-bold",
                                                     text: t(".#{outcome}_date"),
                                                   } %>
            <% elsif outcome == CaseOutcome::OTHER %>
              <%= f.govuk_text_field :case_outcome_other_info,
                                 width: "one-third",
                                 autocomplete: "off",
                                 label: {
                                   text: t(".case_outcome_other_info"),
                                 } %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
