<turbo-frame id="work_items">
  <h3 class="govuk-heading-m">
    <%= t('.work_items') %>
  </h3>

  <% if travel_and_waiting.any? %>
    <div class="govuk-body-m">
      <%= t('.travel_and_waiting') %>
      <div class="govuk-heading-l">
        <%= travel_and_waiting.total_cost %>
      </div>
    </div>

    <%= govuk_details(summary_text: t('.check_totals')) do %>
      <%=
        head = [t('.items'), t('.total_cost'), t('.total_time')]
        rows = travel_and_waiting.table_fields
        govuk_table(first_cell_is_header: true, head:, rows:)
      %>
    <% end %>
  <% end %>

  <% if claim.editable? && work_items.any? { |work_item| work_item.uplift? } %>
    <%= govuk_button_link_to(t(".remove_uplift_all"), edit_assess_claim_work_items_uplift_path(claim), { secondary: true, data: { turbo: 'false' } }) %>
  <% end %>

  <% work_items.group_by(&:completed_on).each do |completed_on, work_items_for_date| %>
    <%=
      head = [t('.type_of_work'), t('.uplift_request'), t('.requested'), t('.uplift_allowed'), t('.allowed'), t('.action')]


      rows = work_items_for_date.map do |work_item|
        link = if claim.editable?
                  link_to(t('.change'), edit_assess_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
                else
                  link_to(t('.view'), assess_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
                end
        [
          *work_item.table_fields,
          link
        ]
      end
      govuk_table(caption: completed_on.strftime('%-d %B %Y'), head:, rows:)
    %>
  <% end %>
</turbo-frame>
