<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>
    <p><%= t(".hint") %></p>
    <%= step_form @form_object, method: @form_object.http_verb, url: @form_object.url do |form| %>
      <h2 class="govuk-heading-l"><%= t(".alternative_quote") %></h2>
      <h3 class="govuk-heading-m"><%= t(".service_details") %></h3>
      <%= form.govuk_text_field :contact_first_name, width: 20, label: { text: t('.contact_first_name'), size: 's' } %>
      <%= form.govuk_text_field :contact_last_name, width: 20, label: { text: t('.contact_last_name'), size: 's' } %>
      <%= form.govuk_text_field :organisation, label: { text: t('.organisation'), size: 's' } %>
      <%= form.govuk_text_field :postcode, width: 10, label: { text: t('.postcode'), size: 's' } %>

      <%= form.govuk_file_field :file_upload,
                                label: { text: t(".file_upload"), size: "s" },
                                hint: { text: t(".file_upload_hint_html", size: FileUpload::FileUploader.human_readable_max_file_size) },
                                accept: SupportedFileTypes::SUPPORTED_FILE_TYPES.join(',') %>
      <% if @form_object.document_already_uploaded? %>
        <%= render "prior_authority/steps/primary_quote/uploaded_file_summary", document: @form_object.document %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t('.cost', service_name: @form_object.service_name) %></h2>
      <%= render 'prior_authority/steps/service_cost/cost_fields', form: form %>

      <h2 class="govuk-heading-m"><%= t('.travel_cost') %></h2>
      <p class="govuk-text"><%= t('.travel_cost_hint') %></p>
      <%= form.govuk_period_field :travel_time, legend: { text: t('.travel_time'), size: 's' } %>
      <%= form.govuk_text_field :travel_cost_per_hour,
                                width: 5,
                                prefix_text: "&pound;".html_safe,
                                inputmode: "decimal",
                                value: gbp_field_value(@form_object.travel_cost_per_hour),
                                label: { text: t('.hourly_cost'), size: 's' },
                                hint: {text: t('.vat_hint') } %>

      <h2 class="govuk-heading-m"><%= t('.additional_costs') %></h2>
      <p class="govuk-text"><%= t('.additional_costs_hint') %></p>
      <%= form.govuk_text_area :additional_cost_list, label: { text: t('.additional_cost_list'), size: 's' } %>
      <%= form.govuk_text_field :additional_cost_total,
                                width: 5,
                                prefix_text: "&pound;".html_safe,
                                inputmode: "decimal",
                                value: gbp_field_value(@form_object.additional_cost_total),
                                label: { text: t('.additional_cost_total'), size: 's' },
                                hint: {text: t('.vat_hint') } %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <%= form.reload_button(button: :update_calculation_no_article) %>
      <span class="govuk-caption-l"><%= t('.total_cost') %></span>
      <h2 class="govuk-heading-l" id="totalTravelCost">
        <%= @form_object.formatted_total_cost %>
      </h2>

      <%= form.continue_button secondary: false %>
    <% end %>
  </div>
</div>
