<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

    <%= step_form @form_object do |form| %>
      <%= form.govuk_collection_select :service_name, QuoteService.all, :description, :description,
                              data: { module: 'accessible-autocomplete', autoselect: false }, width: 20,
                              options: { include_blank: true }, label: { size: 'm' }, hint: { size: 's', text: t('.service_name_hint')} %>
      <h2 class="govuk-heading-m"><%= t(".service_details") %></h2>
      <%= form.govuk_text_field :contact_full_name, label: { text: t(".contact_full_name"), size: 's' } %>
      <%= form.govuk_text_field :organisation, label: { text: t(".organisation"), size: 's' } %>
      <%= form.govuk_text_field :postcode, label: { text: t(".postcode"), size: 's' } %>
      <%= form.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>


