<% title t(".page_title") %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

    <%= step_form @form_object do |form| %>
      <% if @form_object.draft? %>
        <%= suggestion_select form, :service_type_autocomplete, PriorAuthority::QuoteServices.values, :to_sym, :translated, width: 20,
                              options: { include_blank: true }, label: { size: "m" }, hint: { size: "s", text: t(".service_name_hint")},
                              data: { autoselect: false } %>
      <% else %>
        <h2 class="govuk-heading-l"><%= @form_object.service_type_autocomplete %></h2>
      <% end %>
      <h2 class="govuk-heading-m"><%= t(".service_details") %></h2>
      <%= form.govuk_text_field :contact_first_name, width: 20, label: { text: t(".contact_first_name"), size: "s" } %>
      <%= form.govuk_text_field :contact_last_name, width: 20, label: { text: t(".contact_last_name"), size: "s" } %>
      <%= form.govuk_text_field :organisation, label: { text: t(".organisation"), size: "s" } %>
      <%= form.govuk_text_field :postcode, width: 10, label: { text: t(".postcode"), size: "s" } %>
      <%= form.govuk_file_field :file_upload,
                                label: { text: t(".file_upload"), size: "m" },
                                hint: { text: t(".file_upload_hint_html", size: FileUpload::FileUploader.human_readable_max_file_size) },
                                accept: SupportedFileTypes::SUPPORTED_FILE_TYPES.join(',') %>
      <% if @form_object.document_already_uploaded? %>
        <%= render "uploaded_file_summary", document: @form_object.document %>
      <% end %>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>
