<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true"><%= t('.post_warning.icon') %></span>
  <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"> <%= t('.post_warning.assistive') %></span>
      <%= t('.post_warning.message') %>
  </strong>
</div>
<div class="govuk-form-group govuk-!-padding-bottom-6">
  <p class="govuk-body"><%= t('.postal_address.heading') %></p>
  <ul class="govuk-list">
      <li><%= t('.postal_address.name') %></li>
      <li><%= t('.postal_address.line_1') %></li>
      <li><%= t('.postal_address.line_2') %></li>
      <li><%= t('.postal_address.city') %></li>
      <li><%= t('.postal_address.postcode') %></li>
  </ul>
</div>
