<%= javascript_import_module_tag 'file-upload' %>

<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <div class="moj-multi-file-upload__message"></div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><%= t('.heading') %></h1>
    <%# Answers upload list %>
    <%= render template: 'steps/supporting_evidence/_content' %>

    <%# Additional upload list %>
    <%= step_form @form_object do |f| %>
      <%# File upload component %>
      <div class="moj-multi-file-upload">
        <div class="moj-multi-file-upload__upload">
          <%= f.govuk_file_field :documents, label: { text: t('.file_upload.heading'), size: 'm' }, hint: { text: t('.file_upload.caption'), class: 'govuk-!-margin-bottom-6' }, class: 'moj-multi-file-upload__input', multiple: true, accept: "application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/rtf,image/jpeg,image/bmp,image/png,image/tiff,application/pdf" %>

          <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
            <%= t('.upload_file') %>
          </button>
        </div>
        <%# Uploaded files section %>
        <div class="moj-multi-file__uploaded-files <%= 'moj-hidden' unless @supporting_evidence.count > 0 %>">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Uploaded files</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">File name</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
            </thead>
            <%# Uploaded file list   %>
            <tbody class="govuk-table__body moj-multi-file-upload__list">
            <% @supporting_evidence.each do |record| %>
              <tr class="govuk-table__row moj-multi-file-upload__row">
                <td class="govuk-table__cell moj-multi-file-upload__filename">
                  <span class="moj-multi-file-upload__filename"><%= record.file_name %></span>
                  <span class="moj-multi-file-upload__progress">100%</span></td>
                <td class="govuk-table__cell moj-multi-file-upload__actions">
                  <a class="remove-link moj-multi-file-upload__delete" href="#0" value="<%= record.id %>">Remove
                    <span class="govuk-visually-hidden"><%= record.id %></span>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <%# Postal address component %>
      <%= f.govuk_check_boxes_fieldset :send_by_post, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :send_by_post, 'true', 'false', multiple: false do %>
          <%= render template: 'steps/supporting_evidence/_postal_address' %>
        <% end -%>
      <% end -%>
      <%# Continue %>
      <%= f.continue_button %>
    <% end -%>
  </div>
</div>
