<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

    <%= step_form @form_object do |form| %>
      <%= suggestion_select form, :main_offence_autocomplete, @form_object.offence_list, :first, :last, width: 20,
                            options: { include_blank: true }, label: {text: t(".main_offence"), size: "s" }, hint: { size: "s", text: t(".main_offence_hint")},
                            data: { autoselect: false } %>
      <%= form.govuk_fully_validatable_date_field :rep_order_date, legend: { text: t(".rep_order_date"), size: 's' }, hint: { text: t(".rep_order_date_hint") } %>

      <%= form.fields_for :defendant, as: :defendant_form do |defendant_object| %>
        <%= defendant_object.govuk_text_field :maat,
                                              width: 10,
                                              label: { text: t('.maat'), size: 's' },
                                              hint: { text: t('.maat_hint')} %>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset :client_detained, legend: { text: t('.client_detained'), size: 's' } do %>
        <%= form.govuk_radio_button :client_detained, true, label: { text: t('generic.yes') }, link_errors: true do %>
            <%= suggestion_select form, :prison_autocomplete, @form_object.prison_list, :first, :last, width: 20,
                                  options: { include_blank: true }, label: {text: t(".client_detained_prison"), size: "s" }, hint: { size: "s", text: t(".client_detained_prison_hint")},
                                  data: { autoselect: false } %>
        <% end %>
        <%= form.govuk_radio_button :client_detained, false, label: { text: t('generic.no') } %>
      <% end %>

      <%= form.govuk_collection_radio_buttons(
            :subject_to_poca,
            YesNoAnswer.radio_options,
            :value,
            :label,
            legend: { text: t('.subject_to_poca'), size: 's' }
          ) %>

      <%= form.continue_button %>
    <% end %>
  </div>
</div>
