<%= javascript_include_tag 'file-upload', nonce: true %>

<% title t('.page_title') %>
<% decision_step_header %>

<% content_for :hint do %>
  <p><%= t('.reason_why_hint_p1') %></p>
  <ul class="govuk-list govuk-list--bullet">
    <% t('.reason_why_hints').each do |hint| %>
      <li class="govuk-body"><%= hint %></li>
    <% end %>
  </ul>
  <%= govuk_warning_text(text: t('.reason_why_hint_p2')) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <div class="moj-multi-file-upload__message"></div>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <%= step_form @form_object do |form| %>
      <%= form.govuk_text_area :reason_why,  max_chars: 2000, rows: 16, label: { size: 'xl', text: t(".page_title") }, hint: -> { content_for(:hint) }  %>

      <h1 class="govuk-heading-m"><%= t(".supporting_documentation") %></h1>
      <span class="govuk-caption-m govuk-!-margin-bottom-8">
        <%= t(".supporting_documentation_caption_html", size: FileUpload::FileUploader.human_readable_max_file_size) %>
      </span>

      <%= render 'shared/multifile_upload', supporting_documents: @form_object.supporting_documents, form: form, locale_prefix: 'prior_authority.steps.reason_why.edit' %>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>
