<%= javascript_include_tag 'file-upload', nonce: true %>

<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <%= step_form @form_object do |form| %>
      <%= form.govuk_text_area :reason_why,  max_chars: 2000, rows: 16, label: { size: 'xl', text: t(".page_title") }, hint: { text: t('.reason_why_hint_html')}  %>

      <h1 class="govuk-heading-m"><%= t(".supporting_documentation") %></h1>
      <span class="govuk-caption-m govuk-!-margin-bottom-8"><%= t(".supporting_documentation_caption") %></span>
      <%= render 'shared/multifile_upload', supporting_documents: @supporting_documents, form: form, locale_prefix: 'prior_authority.steps.reason_why.edit' %>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>
