<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-l"><%= t('.heading', count: @form_object.application.disbursements.count) %> </h1>
    <%= govuk_button_link_to(t('.add_another_button'), '#', secondary: true) %>

    <%
      header_row = {
      'line_item' => false,
      'item' => false,
      'date' => false,
      'net_cost' => true,
      'gross_cost' => true
    }
    %>
    <%= govuk_table do |table| %>
      <% table.with_caption(text: t('.accessibility.disbursements_caption'), html_attributes:{class: 'govuk-visually-hidden'}) %>
      <% table.with_head do |head| %>
        <% head.with_row do |row| %>
          <% header_row.map.with_index do |(column_key, numeric), index| %>
            <% aria_sort, next_direction = sort_variable(column_key, @sort_by, @sort_direction) %>
            <%= row.with_cell(
                  text: reorder_form(edit_nsm_steps_disbursements_path(current_application), column_key, next_direction, "nsm.steps.disbursements.edit.headers", index),
                  numeric: numeric,
                  html_attributes: { 'aria-sort': aria_sort }
                ) %>
          <% end %>
          <%= row.with_cell(text: t('.headers.action'), numeric: true) %>
        <% end %>
      <% end %>
      <% table.with_body do |body| %>
        <% @disbursements.each_with_index do |disbursement, index| %>
          <%
            disbursement_type_text = if disbursement.disbursement_type == DisbursementTypes::OTHER.to_s
                                        other_type = disbursement.other_type
                                        if OtherDisbursementTypes.values.include?(OtherDisbursementTypes.new(other_type))
                                          t("helpers.other_disbursement_type.#{other_type}")
                                        else
                                          check_missing(other_type)
                                        end
                                      else
                                        check_missing(disbursement.disbursement_type) do
                                          t("helpers.label.nsm_steps_disbursement_type_form.disbursement_type_options.#{disbursement.disbursement_type}")
                                        end
                                      end
            item_with_link =  govuk_link_to(disbursement_type_text, edit_nsm_steps_disbursement_type_path(@form_object.application, disbursement_id: disbursement.id))
          %>
          <% body.with_row do |row| %>
            <%= row.with_cell(header: true, html_attributes: { id: 'item1' }) do %>
              <%= index + 1 %>
            <% end %>
            <%= row.with_cell(header: true) do %>
              <%= item_with_link %>
            <% end %>
            <%= row.with_cell do %>
              <%= disbursement.disbursement_date.to_fs(:short_stamp) %>
            <% end %>
            <%= row.with_cell(numeric: true) do %>
              <%= check_missing(disbursement.total_cost) { NumberTo.pounds(disbursement.total_cost_without_vat) } %>
            <% end %>
            <%= row.with_cell(numeric: true) do %>
              <%= check_missing(disbursement.total_cost) { NumberTo.pounds(disbursement.total_cost) } %>
            <% end %>
            <%# Action Buttons %>
            <%= row.with_cell(numeric: true) do %>
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to(t('.duplicate'), edit_nsm_steps_disbursement_type_path(@form_object.application, disbursement_id: disbursement.id), 'aria-labelledby': 'X', id: 1) %>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to(t('.delete'), edit_nsm_steps_disbursement_delete_path(@form_object.application, disbursement_id: disbursement.id), 'aria-labelledby': 'X', id: 2) %>
                </li>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%# Table body ends %>
    <% end %>

    <%= step_form @form_object do |f| %>
      <% if @form_object.all_disbursements_valid? %>
        <%= f.govuk_radio_buttons_fieldset :add_another, legend: { text: t('.add_another'), size: 'm' } do %>
          <%= f.govuk_radio_button :add_another, YesNoAnswer::YES.to_s %>
          <%= f.govuk_radio_button :add_another, YesNoAnswer::NO.to_s %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>


