<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>
    <%= step_form @form_object do |form| %>
      <%= form.govuk_collection_radio_buttons(
            :prior_authority_granted,
            YesNoAnswer.radio_options,
            :value,
            :label,
            inline: true,
            legend: { text: t('.prior_authority_granted'), size: 's' }
          ) %>
      <% if @form_object.court_order_relevant %>
        <%= form.govuk_collection_radio_buttons(
            :ordered_by_court,
            YesNoAnswer.radio_options,
            :value,
            :label,
            inline: true,
            legend: { text: t('.ordered_by_court'), size: 's' }
          ) %>
      <% end %>
      <% if @form_object.post_mortem_relevant %>
        <%= form.govuk_collection_radio_buttons(
            :related_to_post_mortem,
            YesNoAnswer.radio_options,
            :value,
            :label,
            inline: true,
            legend: { text: t('.related_to_post_mortem'), size: 's' }
          ) %>
      <% end %>
      <h2 class="govuk-heading-m"><%= @form_object.service_name %></h2>
      <% if @form_object.variable_cost_type? %>
        <%= form.govuk_radio_buttons_fieldset :user_chosen_cost_type, legend: { text: t('.user_chosen_cost_type'), size: 's' } do %>
          <%= form.govuk_radio_button :user_chosen_cost_type, @form_object.class::PER_ITEM, label: { text: t('.per_item') }, link_errors: true do %>
            <%= render 'items', form: form, size: nil %>
          <% end %>
          <%= form.govuk_radio_button :user_chosen_cost_type, @form_object.class::PER_HOUR, label: { text: t('.per_hour') } do %>
            <%= render 'time', form: form, size: nil %>
          <% end %>
        <% end %>
      <% elsif @form_object.per_item? %>
        <%= render 'items', form: form, size: 's' %>
      <% else %>
        <%= render 'time', form: form, size: 's' %>
      <% end %>
      <%= form.refresh_button(button: :update_calculation_no_article) %>
      <span class="govuk-caption-l"><%= t('.total_cost') %></span>
      <h2 class="govuk-heading-l">
        <%= @form_object.formatted_total_cost %>
      </h2>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>


