<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
  </div>
</div>

<% if @empty %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-text"><%= t('.none') %></p>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_to t('.start_application'), prior_authority_applications_path %>
  </div>
</div>

<% unless @empty %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <%= govuk_tabs(title: t(".page_title")) do |c| %>
        <% c.with_tab(label: t(".tabs.assessed")) do %>
          <%= render 'prior_authority/applications/frame_contents/assessed', model: @assessed_model, pagy: @assessed_pagy %>
        <% end %>
        <% c.with_tab(label: t(".tabs.submitted")) do %>
          <%= render 'prior_authority/applications/frame_contents/submitted', model: @submitted_model, pagy: @submitted_pagy %>
        <% end %>
        <% c.with_tab(label: t(".tabs.drafts")) do %>
          <%= render 'prior_authority/applications/frame_contents/draft', model: @draft_model, pagy: @draft_pagy %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
