<% title t(".page_title") %>

<%= render partial: 'shared/notifications' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>
  </div>
</div>

<% if @empty %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-text"><%= t(".none") %></p>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_to t(".start_application"), prior_authority_applications_path %>
  </div>
</div>

<% unless @empty %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <%= link_to t(".tabs.reviewed"),
            reviewed_prior_authority_applications_path(anchor: "claim_nav"),
            role: "tab",
            class: "moj-sub-navigation__link",
            "aria-current": @scope == :reviewed ? "page" : nil %>
          </li>
          <li class="moj-sub-navigation__item">
            <%= link_to t(".tabs.submitted"),
            submitted_prior_authority_applications_path(anchor: "claim_nav"),
            role: "tab",
            class: "moj-sub-navigation__link",
            "aria-current": @scope == :submitted ? "page" : nil %>
          </li>
          <li class="moj-sub-navigation__item">
            <%= link_to t(".tabs.drafts"),
            drafts_prior_authority_applications_path(anchor: "claim_nav"),
            role: "tab",
            class: "moj-sub-navigation__link",
            "aria-current": @scope == :drafts ? "page" : nil %>
          </li>
        </ul>

        <div class="govuk-tabs__panel">
          <%= render partial: "prior_authority/applications/#{@scope}",
          locals: {
            model: @model,
            pagy: @pagy,
          } %>
        </div>
      </nav>
    </div>
  </div>
<% end %>
