<% title t('prior_authority.applications.search.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_error_summary(@form) %>
    <h1 id='heading' class="govuk-heading-xl"><%= t("prior_authority.applications.search.page_title") %></h1>
    <p><%= t('.instruction') %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="search-panel govuk-!-margin-bottom-6">
      <%= form_with(url: search_prior_authority_applications_path(anchor: :'results'), method: :get, model: @form) do |f| %>
        <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
          <%= f.govuk_text_field :search_string, label: { size: 's', text: t("prior_authority.applications.search.label") } %>
        </div>
        <%= render 'shared/search', form: @form, f: %>
        <%= f.govuk_submit(t('prior_authority.applications.search.search'), id: 'search', 'data-disable' => 'false') do %>
          <%= govuk_link_to t('.clear_all'), search_prior_authority_applications_path %>
        <% end %>
      <% end %>
    </div>

  <% if @model %>
    <% if @model.any? %>
      <h2 id="results-count" class="govuk-heading-m"><%= t('.results', count: @pagy.count, results: t('.result').pluralize(@pagy.count)) %></h2>
      <table id="results" class="govuk-table" data-module="moj-sortable-table" aria-describedby="heading">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <% ['ufn', 'client', 'office_code', 'last_updated', 'state'].each do |key| %>
              <%= table_header_with_link(key,
                                         'prior_authority.applications.tabs.header',
                                         { search_form: @form.attributes, controller: 'prior_authority/applications', action: 'search' },
                                         @sort_by,
                                         @sort_direction) %>
              <% end %>
          </tr>
        </thead>
        <tbody class="govuk-table__body app-task-list__items">
          <% @model.each do |application| %>
            <% link = application.draft? ? prior_authority_steps_start_page_path(application) : prior_authority_application_path(application) %>
            <tr class="govuk-table__row app-task-list__item">
              <td class="govuk-table__cell">
                <%= link_to link do %>
                  <%= application.ufn %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <%= application.defendant&.full_name %>
              </td>
              <td class="govuk-table__cell">
                <%= application.office_code %>
              </td>
              <td class="govuk-table__cell">
                <%= application.updated_at.to_fs(:stamp) %>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag <%= prior_authority_tag_colour(application.state) %>">
                  <%= t("prior_authority.states.#{application.state}") %>
                </strong>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= render 'shared/pagination', pagy: @pagy, item: t('prior_authority.applications.tabs.application') %>
    <% else %>
      <h2 id="results" class="govuk-heading-m"><%= t('.no_results') %></h2>
      <p class="govuk-text"><%= t('.no_result_hint') %></p>
    <% end %>
  <% end %>
</div>
</div>
