<% title t('.page_title') %>
<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'),
              prior_authority_applications_path(
                anchor: @application.status == 'submitted' ? 'submitted' : 'assessed'
              ),
              class: 'govuk-back-link hide-on-print' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"><%= t(".application_status") %></h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".status") %>
            </dt>
            <dd class="govuk-summary-list__value">
                <%= render "prior_authority/applications/state_summaries/#{@application.status}" %>
            </dd>
          </div>
          <% if @application.status.in?(['part_grant', 'rejected']) || @application.assessment_comment.present? %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t(".laa_response") %>
              </dt>
              <dd class="govuk-summary-list__value">
                <p><%= @application.assessment_comment %></p>
                <ul class="govuk-list govuk-list--bullet">
                  <% if @application.primary_quote.base_adjustment_comment.present? %>
                    <li><%= link_to t('.review_service_cost_adjustments'), '#service-cost' %></li>
                  <% end %>
                  <% if @application.primary_quote.travel_adjustment_comment.present? %>
                    <li><%= link_to t('.review_travel_cost_adjustments'), '#travel-cost' %></li>
                  <% end %>
                  <% if @application.additional_costs.any? { _1.adjustment_comment.present? } %>
                    <li><%= link_to t('.review_additional_cost_adjustments'), '#additional-cost-0' %></li>
                  <% end %>
                </ul>
                <% if @application.status != 'granted' %>
                  <%= govuk_button_link_to(t('.appeal'), '#') %>
                <% end %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>

    <% @report.section_groups.each do |section_group| %>
      <h2 class="govuk-heading-m"><%= section_group[:heading] %></h2>
      <% section_group[:sections].each do |section| %>
        <% if section.template %>
          <%= render(section.template, section: section, show_actions: false, show_allowances: @application.status != 'submitted') %>
        <% else %>
          <%= govuk_summary_list(
                card: {
                  title: section.title,
                },
                rows: section.rows,
                actions: false
              ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-aside__bar--blue aside-generic" role="complementary" aria-labelledby="aside-title">
      <h3 id="aside-title" class="govuk-heading-s govuk-!-margin-bottom-4">
        <%= t('.email_us') %>
      </h3>
      <p class="govuk-body govuk-!-margin-0">
        <%= link_to t('.email'), "mailto:#{t('.email')}" %>
      </p>
    </aside>
  </div>
</div>
