<% title t('.page_title') %>
<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'),
              prior_authority_applications_path(
                anchor: relevant_prior_authority_list_anchor(application)
              ),
              class: 'govuk-back-link hide-on-print' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "application_details", application:, primary_quote_summary:, report:, allowance_type: %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-aside__bar--blue aside-generic" role="complementary" aria-labelledby="aside-title">
      <h3 id="aside-title" class="govuk-heading-s govuk-!-margin-bottom-4">
        <%= t('.email_us') %>
      </h3>
      <p class="govuk-body">
        <%= link_to t('.email'), "mailto:#{t('.email')}" %>
      </p>
      <h2 class="govuk-heading-s" id="subsection-title"><%= t('.print_a_pdf') %></h2>
      <p class="govuk-body-s"><%= t('.print_hint') %></p>
      <%= govuk_button_link_to t('.create_pdf'), download_prior_authority_application_path(application), secondary: true, target: "_blank" %>
    </aside>
  </div>
</div>
