<% title t('.page_title') %>
<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'),
              prior_authority_applications_path(
                anchor: relevant_prior_authority_list_anchor(@application)
              ),
              class: 'govuk-back-link hide-on-print' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"><%= t(".application_status") %></h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".status") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p><strong class="govuk-tag <%= prior_authority_tag_colour(@application.status) %>"><%= t("prior_authority.statuses.#{@application.status}") %></strong></p>
              <%= render "prior_authority/applications/state_summaries/#{@application.status}" %>
            </dd>
          </div>
          <% if @application.assessment_comment.present? %>
            <%= render "prior_authority/applications/response_summaries/assessed" %>
          <% elsif @application.sent_back? %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= t(".laa_response") %>
              </dt>
              <dd class="govuk-summary-list__value">
                <% t('.sent_back_explanations_html',
                    deadline: tag.strong(@application.resubmission_deadline.to_fs(:stamp))).each do |paragraph| %>
                  <p><%= paragraph %></p>
                <% end %>
                <% if @application.further_information_explanation.present?%>
                  <%= govuk_button_link_to(t('.update_application'),  '#TODO: CRM457-1192') %>
                <% else %>
                  <%= govuk_button_link_to(t('.update_application'),  edit_prior_authority_steps_check_answers_path(@application)) %>
                <% end %>
              </dd>
            </div>
          <% elsif @application.expired? %>
            <%= render "prior_authority/applications/response_summaries/expired" %>
          <% end %>
        </dl>
      </div>
    </div>

    <% @report.section_groups.each do |section_group| %>
      <h2 class="govuk-heading-m"><%= section_group[:heading] %></h2>
      <% section_group[:sections].each do |section| %>
        <% if section.template %>
          <%= render(section.template, section: section, show_actions: false, show_adjustments: @allowance_type) %>
        <% else %>
          <%= govuk_summary_list(
                card: {
                  title: section.title,
                },
                rows: section.rows,
                actions: false
              ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-aside__bar--blue aside-generic" role="complementary" aria-labelledby="aside-title">
      <h3 id="aside-title" class="govuk-heading-s govuk-!-margin-bottom-4">
        <%= t('.email_us') %>
      </h3>
      <p class="govuk-body govuk-!-margin-0">
        <%= link_to t('.email'), "mailto:#{t('.email')}" %>
      </p>
    </aside>
  </div>
</div>
