<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <h2 class="govuk-hint govuk-!-font-size-24"><%= t('.estimate') %></h2>
    <div class="govuk-heading-l"><%= @vat_registered ? @report.total_cost_inc_vat : @report.total_cost %></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_details(summary_text: t('.payment_claim')) do %>
          <%=
            head = [t('.total'), t('.total_inc_vat')]
            rows = [[@report.total_cost, @report.total_cost_inc_vat]]
            govuk_table(head:, rows:)
          %>
        <% end %>
      </div>
    </div>

    <% @report.sections.each do |section| %>
      <%= govuk_summary_list(**section) %>
    <% end %>

    <div class="govuk-button-group">
      <%= link_to edit_steps_other_info_path(current_application), class: "govuk-button", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and continue
      <% end %>
      <%= link_to after_commit_path(current_application), class: "govuk-button govuk-button--secondary", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and come back later
      <% end %>
    </div>
  </div>
</div>
