<div class="govuk-!-margin-bottom-7">

  <% check_list = Nsm::SupportingEvidence::CheckList.new(@form_object.application) %>

  <% unless check_list.items.empty? %>
    <p class="govuk-body"><%= t('.para1.heading') %></p>

    <%= check_list.render %>

    <%# Upload warning %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true"><%= t('.upload_warning.icon') %></span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden"><%= t('.upload_warning.assistive') %> </span>
        <%= t('.upload_warning.message') %>
      </strong>
    </div>
  <% end%>

  <%# Additional upload list %>
  <p class="govuk-body"><%= t('.para2.heading') %></p>
  <ul class="govuk-list govuk-list--bullet govuk-!-padding-left-6">
    <li><%= t('.para2.file') %></li>
    <li><%= t('.para2.attendance') %></li>
    <li><%= t('.para2.reading') %></li>
    <li><%= t('.para2.documentation') %></li>
    <li><%= t('.para2.prosecution') %></li>
    <li><%= t('.para2.emails') %></li>
    <li><%= t('.para2.representation') %></li>
  </ul>
  <p class="govuk-body"><%= t('.para3_html') %></p>
</div>
