<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true"><%= t('.post_warning.icon') %></span>
  <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"> <%= t('.post_warning.assistive') %></span>
      <%= t('.post_warning.message') %>
  </strong>
</div>
<div class="govuk-form-group govuk-!-padding-bottom-2">
  <p class="govuk-body"><%= t('.postal_address.download_html', href: download_nsm_steps_supporting_evidence_path(current_application)) %></p>
  <ul class="govuk-list govuk-!-margin-bottom-0">
      <li><%= t('.postal_address.name') %></li>
      <li><%= t('.postal_address.line_1') %></li>
      <li><%= t('.postal_address.line_2') %></li>
      <li><%= t('.postal_address.city') %></li>
      <li><%= t('.postal_address.postcode') %></li>
      <li class="govuk-!-margin-top-4"><%= t('.postal_address.dx_address') %></li>
  </ul>
</div>
