<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object, url: nsm_steps_defendant_details_path(@form_object.application, defendant_id: @form_object.record.id) do |f| %>
      <%= f.govuk_fieldset legend: { text: t(@form_object.label_key, index: @form_object.index) }, class: 'moj-add-another__item' do %>
        <%= f.govuk_text_field :first_name, maxlength_enabled: true %>
        <%= f.govuk_text_field :last_name, maxlength_enabled: true %>
        <% if @form_object.maat_required? %>
          <%= f.govuk_text_field :maat, maxlength_enabled: true %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>


