<%= javascript_include_tag 'file-upload', nonce: true %>
<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t(".caption") %></span>
    <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>
    <div class="govuk-inset-text">
      <p><strong><%= t(".request_heading") %></strong></p>
      <p><%= @explanation %></p>
    </div>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |form| %>
      <%= form.govuk_text_area :information_supplied, label: { text: t(".information_supplied"), size: "s" }%>

      <h1 class="govuk-heading-s"><%= t(".supporting_documentation") %></h1>
      <span class="govuk-caption-m govuk-!-margin-bottom-8"><%= t(".supporting_documentation_caption") %></span>

      <div class="moj-multi-file-upload">
        <div class="moj-multi-file-upload__upload">
          <%= form.govuk_file_field :documents, label: { text: t('.file_upload.heading'), size: 's' }, class: 'moj-multi-file-upload__input', multiple: true, accept: SupportedFileTypes::FURTHER_INFORMATION.join(',') %>

          <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
            <%= t('.upload_file') %>
          </button>
        </div>
        <%# Uploaded files section %>
        <div class="moj-multi-file__uploaded-files <%= 'moj-hidden' unless @supporting_documents.count > 0 %>">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Uploaded files</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">File name</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
            </thead>
            <%# Uploaded file list   %>
            <tbody class="govuk-table__body moj-multi-file-upload__list">
            <% @supporting_documents.each_with_index do |record, index| %>
              <tr class="govuk-table__row moj-multi-file-upload__row" id="<%= index %>" >
                <td class="govuk-table__cell moj-multi-file-upload__filename">
                  <span class="moj-multi-file-upload__filename"><%= record.file_name %></span>
                  <span class="moj-multi-file-upload__progress">100%</span></td>
                <td class="govuk-table__cell moj-multi-file-upload__actions">
                  <a class="remove-link moj-multi-file-upload__delete" href="#0" value="<%= record.id %>">Delete
                    <span class="govuk-visually-hidden"><%= record.id %></span>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= form.continue_button %>
    <% end %>
  </div>
</div>
