<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-l"><%= t('.heading', count: @form_object.application.work_items.count) %></h1>

    <%= govuk_table(head: @summary.work_item_summary_header_row,
                    rows: [*@summary.rows, @summary.footer_row],
                    first_cell_is_header: true,
                    caption: t('.summary'),
                    html_attributes: { class: 'govuk-!-margin-bottom-9' }) %>

    <%=
      head = {
        'line_item' => { id: 'itemTitle', classes: 'govuk-!-width-zero' },
        'item' => {},
        'date' => {},
        'fee_earner' => { classes: 'govuk-!-width-zero' },
        'time' => { numeric: true, classes: 'govuk-!-width-zero' },
        **(@form_object.application.allow_uplift? ? { 'uplift' => { numeric: true, classes: 'govuk-!-width-zero' } } : {}),
        'action' => { numeric: true }
      }
      header_row = head.map.with_index do |(column_key, options), index|
        if column_key == 'action'
          {
            text: t(column_key, scope: "nsm.steps.view_claim.work_items"),
            **options
          }
        else
          aria_sort, next_direction = sort_variable(column_key, @sort_by, @sort_direction)

          {
            text: reorder_form(edit_nsm_steps_work_items_path(current_application), column_key, next_direction, "nsm.steps.view_claim.work_items", index, button_id: options.delete(:id)),
            **options.deep_merge(html_attributes: { 'aria-sort': aria_sort})
          }
        end
      end

      rows = @work_items.map do |work_item|
        Nsm::WorkItemsRow.new(work_item, self)
      end

      govuk_table_with_cell(header_row, rows, caption: { text: t('.all_work_items') })
    %>
    <%= render "shared/pagination",  { pagy: @pagy, item: t('.table_info_item') } %>

    <%= step_form @form_object do |f| %>
      <% if @form_object.all_work_items_valid? %>
        <%= f.govuk_radio_buttons_fieldset :add_another, legend: { text: t('.add_another'), size: 'm' } do %>
          <%= f.govuk_radio_button :add_another, YesNoAnswer::YES.to_s %>
          <%= f.govuk_radio_button :add_another, YesNoAnswer::NO.to_s %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
