<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%# This 100% needs to be looked at later on because the syntax for the legend is unruly %>
      <%= f.govuk_radio_buttons_fieldset :plea_category, legend: -> { tag.legend(tag.h1(t('.heading'), class: %w( govuk-fieldset__heading )), class: %w(govuk-fieldset__legend govuk-fieldset__legend--l)) } do %>
        <% @form_object.choices.each_with_index do |category, index| %>
          <span id="<%= category %>"></span>
          <%= f.govuk_radio_button :plea_category, category.to_s, link_errors: index.zero?,
                                   label: { text: t("shared.plea_category.#{category}") } %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
