<style nonce="<%= content_security_policy_nonce %>">
  .app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    @include govuk-media-query($from: tablet) {
      min-width: 550px;
    }
  }

  .app-task-list__section {
    display: table;
    @include govuk-font($size:24, $weight: bold);
  }

  .app-task-list__section-number {
    display: table-cell;

    @include govuk-media-query($from: tablet) {
      min-width: govuk-spacing(6);
      padding-right: 0;
    }
  }

  .app-task-list__items {
    @include govuk-font($size: 19);
    @include govuk-responsive-margin(9, "bottom");
    list-style: none;
    padding-left: 0;
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(6);
    }
  }

  .app-task-list__item {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 0 !important;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
    @include govuk-clearfix;
  }
</style>

<% title t('.page_title') %>

<% unless flash.any? %>
  <%= render partial: 'shared/notifications' %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render partial: 'shared/alert', locals: { heading: t('.no_postal_evidence_banner_heading'), msg: t('.no_postal_evidence_banner_message_html') } %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><%= t('.heading') %></h1>
    <div class="govuk-button-group">
      <%= govuk_button_to t('.start_claim'), edit_nsm_steps_claim_type_path(id: @placeholder_record_id), method: :get %>
      <% if FeatureFlags.import_claims.enabled? %>
        <%= govuk_button_to t('.import_claim'), new_nsm_import_path, secondary: true, method: :get %>
      <% else %>
        <%= govuk_button_to t('.import_claim'), 'https://www.smartsurvey.co.uk/s/PZPFYK/ ', secondary: true, method: :get %>
      <% end %>
    </div>
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <%= link_to t(".tabs.reviewed"),
          nsm_applications_path(),
          "aria-current": %i[submitted draft].include?(@scope) ? nil : "page",
          class: "moj-sub-navigation__link" %>
        </li>

        <li class="moj-sub-navigation__item">
          <%= link_to t(".tabs.submitted"),
          submitted_nsm_applications_path(),
          "aria-current": @scope == :submitted ? "page" : nil,
          class: "moj-sub-navigation__link" %>
        </li>

        <li class="moj-sub-navigation__item">
          <%= link_to t(".tabs.draft"),
          draft_nsm_applications_path(),
          "aria-current": @scope == :draft ? "page" : nil,
          class: "moj-sub-navigation__link" %>
        </li>
      </ul>
    </nav>

    <% if @claims.any? %>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          <%= t(".tabs.#{@scope}") %>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <% @row_headers.each_with_index do |key, index| %>
              <%= next if key == 'state' and %i[submitted draft].include?(@scope) %>
              <%= table_header(
                key,
                "nsm.claims.index.header",
                index,
                polymorphic_path([@scope, :nsm_applications]),
                @sort_by,
                @sort_direction,
              ) %>
            <% end %>

            <% if @scope == :draft %>
              <th scope="col" class="govuk-table__header" aria-sort="none"><%= t('prior_authority.applications.tabs.header.action') %></th>
            <% end %>
          </tr>
        </thead>

        <tbody class="govuk-table__body app-task-list__items">
          <% @claims.each do |claim| %>
            <tr class="govuk-table__row app-task-list__item">
              <td class="govuk-table__cell">
                <%= link_to claim.ufn, nsm_steps_start_page_path(claim.id) %>
              </td>
              <td class="govuk-table__cell"><%= claim.main_defendant&.full_name.presence || I18n.t('helpers.missing_data') %></td>
              <td class="govuk-table__cell"><%= claim.office_code.presence || I18n.t('helpers.missing_data') %></td>
              <td class="govuk-table__cell"><%= claim.updated_at.to_fs(:stamp) %></td>
              <% unless @scope == :draft %>
                <td class="govuk-table__cell"><%= claim.laa_reference %></td>
              <% end %>
              <% if @scope == :draft %>
                <td class="govuk-table__cell">
                  <% if !HostEnv.production? %>
                    <%= link_to clone_nsm_application_path(claim.id), class: "govuk-link--no-visited-state" do %>
                      <%= t(".clone") %>
                      <span class="govuk-visually-hidden">
                        <%= t(".claim") %>
                        <%= claim.ufn %>
                      </span>
                    <% end %>
                    &nbsp;
                  <% end %>
                  <%= link_to confirm_delete_nsm_application_path(claim), class: "govuk-link--no-visited-state" do %>
                    <%= t(".delete") %>
                    <span class="govuk-visually-hidden">
                      <%= t(".claim") %>
                      <%= claim.ufn %>
                    </span>
                  <% end %>
                </td>
              <% elsif @scope == :reviewed %>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag <%= t(".state_colour.#{claim.state}") %>">
                    <%= t(".state.#{claim.state}") %>
                  </strong>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "shared/pagination",  { pagy: @pagy, item: t('.table_info_item') } %>
    <% else %>
      <p><%= t(".no_data.#{@scope}") %></p>
    <% end %>
  </div>
</div>
