<% title t(".page_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_error_summary(@form) %>
    <h1 id='heading' class="govuk-heading-xl"><%= t(".page_title") %></h1>
    <p><%= t('.instruction') %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="search-panel govuk-!-margin-bottom-6">
      <%= form_with(url: search_nsm_applications_path(anchor: :results), method: :get, model: @form) do |f| %>
        <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
          <%= f.govuk_text_field :search_string, label: { size: 's', text: t(".label") } %>
        </div>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <%= t('.submission_filter_legend') %>
          </legend>
          <p><%= t('.submission_filter_hint') %></p>
          <div class="govuk-date-input__item">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <div class="govuk-form-group">
                <%= f.govuk_text_field :submitted_from, label: { text: t('.submitted_from') }, class: 'moj-js-datepicker-input' %>
              </div>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <div class="govuk-form-group">
                <%= f.govuk_text_field :submitted_to, label: { text: t('.submitted_to') }, class: 'moj-js-datepicker-input' %>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <%= t('.update_filter_legend') %>
          </legend>
          <p><%= t('.update_filter_hint') %></p>
          <div class="govuk-date-input__item">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <div class="govuk-form-group">
                <%= f.govuk_text_field :updated_from, label: { text: t('.updated_from') }, class: 'moj-js-datepicker-input' %>
              </div>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <div class="govuk-form-group">
                <%= f.govuk_text_field :updated_to, label: { text: t('.updated_to') }, class: 'moj-js-datepicker-input' %>
              </div>
            </div>
          </div>
        </fieldset>

        <div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= f.govuk_collection_select :state,
                                            @form.states,
                                            :value,
                                            :label,
                                            label: { text: t(".status"), size: 's' } %>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= f.govuk_collection_select :office_code,
                                            @form.office_codes,
                                            :value,
                                            :label,
                                            label: { text: t(".account"), size: 's' } %>
            </div>
          </div>
        </div>

        <%= f.govuk_submit(t('.search'), 'data-disable' => 'false') do %>
          <%= govuk_link_to t('.clear_all'), search_nsm_applications_path %>
        <% end %>
      <% end %>
    </div>

    <% if @model %>
      <% if @model.any? %>
        <h2 class="govuk-heading-m"><%= t('.results', count: @pagy.count, results: t('.result').pluralize(@pagy.count)) %></h2>
        <table id="results" class="govuk-table" data-module="moj-sortable-table" aria-describedby="heading">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <% ['ufn', 'defendant', 'account', 'last_updated', 'laa_reference', 'state'].each do |key| %>
                <%= table_header_with_link(key,
                                          'nsm.claims.index.header',
                                          { search_form: @form.attributes, controller: 'nsm/claims', action: 'search' },
                                          @sort_by,
                                          @sort_direction) %>
              <% end %>
            </tr>
          </thead>

          <tbody class="govuk-table__body app-task-list__items">
            <% @model.each do |claim| %>
              <tr class="govuk-table__row app-task-list__item">
                <td class="govuk-table__cell">
                  <%= link_to nsm_steps_view_claim_path(claim) do %>
                    <%= claim.ufn %>
                  <% end %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.main_defendant&.full_name %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.office_code %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.updated_at.to_fs(:stamp) %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.laa_reference %>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag <%= t("nsm.claims.index.state_colour.#{claim.state}") %>">
                      <%= t("nsm.claims.index.state.#{claim.state}") %>
                    </strong>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render 'shared/pagination', pagy: @pagy, item: t('nsm.claims.index.table_info_item') %>
      <% else %>
        <h2 id="results" class="govuk-heading-m"><%= t('.no_results') %></h2>
        <p class="govuk-text"><%= t('.no_result_hint') %></p>
      <% end %>
    <% end %>
  </div>
</div>
