<% title t(".page_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_error_summary(@form) %>
    <h1 id='heading' class="govuk-heading-xl"><%= t("nsm.claims.search.page_title") %></h1>
    <p><%= t('.instruction') %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="search-panel govuk-!-margin-bottom-6">
      <%= form_with(url: search_nsm_applications_path(anchor: :'results'), method: :get, model: @form) do |f| %>
        <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
          <%= f.govuk_text_field :search_string, label: { size: 's', text: t("nsm.claims.search.label") } %>
        </div>
        <%= render 'shared/search', form: @form, f: %>
        <%= f.govuk_submit(t('nsm.claims.search.search'), id: 'search') do %>
          <%= govuk_link_to t('.clear_all'), search_nsm_applications_path %>
        <% end %>
      <% end %>
    </div>

    <% if @model %>
      <% if @model.any? %>
        <h2 id="results-count" class="govuk-heading-m"><%= t('.results', count: @pagy.count, results: t('.result').pluralize(@pagy.count)) %></h2>
        <table id="results" class="govuk-table" data-module="moj-sortable-table" aria-describedby="heading">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <% ['ufn', 'defendant', 'account', 'last_updated', 'state'].each do |key| %>
                <%= table_header_with_link(key,
                                          'nsm.claims.index.header',
                                          { search_form: @form.attributes, controller: 'nsm/claims', action: 'search' },
                                          @sort_by,
                                          @sort_direction) %>
              <% end %>
            </tr>
          </thead>

          <tbody class="govuk-table__body app-task-list__items">
            <% @model.each do |claim| %>
              <tr class="govuk-table__row app-task-list__item">
                <td class="govuk-table__cell">
                  <% if claim.draft? %>
                    <%= link_to claim.ufn, nsm_steps_start_page_path(claim) %>
                  <% else  %>
                    <%= link_to claim.ufn, nsm_steps_view_claim_path(claim) %>
                  <% end %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.main_defendant&.full_name %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.office_code %>
                </td>
                <td class="govuk-table__cell">
                  <%= claim.updated_at.to_fs(:stamp) %>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag <%= t("nsm.claims.index.state_colour.#{claim.state}") %>">
                    <%= t("nsm.claims.index.state.#{claim.state}") %>
                  </strong>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= render 'shared/pagination', pagy: @pagy, item: t('nsm.claims.index.table_info_item') %>
      <% else %>
        <h2 id="results" class="govuk-heading-m"><%= t('.no_results') %></h2>
        <p class="govuk-text"><%= t('.no_result_hint') %></p>
      <% end %>
    <% end %>
  </div>
</div>
